{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2>Sebelum login: Nggak ada namanya di judulnya</h2>
    <h2>Setelah login: Ada namanya hehe</h2>
    <h2>Setelah logout: Session di flush, namanya ngga muncul</h2>
    <h4>padahal di laman logout ada request.user.get_username()</h4>
    <hr>
    <h4>Eran begini karena story 9 sekip, tapi belum sempet ngerjain</h4>
    <h4>maaf ya :(</h4>
    <a class="btn btn-info" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
</div>


{% endblock %}