body{
    background-color: #4040a1;
    padding: 20px 70px 70px;
    font-family: 'Raleway', sans-serif;
}

h1{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

h2{
    text-align: center;
    color: darkslateblue
}

h4{
    text-align: center;
    color: darkslateblue
}

.outer-box{
    border-radius: 15px;
    background-color: #f0efef;
    padding: 20px;
    margin: auto;
    display: block;
}

#proftxt{
    margin: auto;
}